{% extends "base.html" %}

{% block title %}{{ score.id }} Scores Info{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{% include "snippets/back-button.html" %} {{ score.id }} Scores Info</h1>
    <a href="{% url 'beatmapset_detail' beatmapset.beatmapset_id %}" class="btn btn-ayaka"><i class="mdi mdi-playlist-music" aria-hidden="true" style="font-size: 20px"></i> View beatmap</a>
    <p></p>
    <div style="overflow:hidden">
        <h2>Beatmaps</h2>
        <img src="https://freedom-dive-assets.nyc3.digitaloceanspaces.com/cover/{{ beatmapset.beatmapset_id }}.jpg" alt="Cover" style="width: 100%; height: 300px; object-fit: cover; border-radius: 10px;">
        <p></p>
        <p>{{ beatmapset.title }} [{{ beatmap.version }}] ({{ beatmap.difficulty_rating }}★)</p>
        <p>{{ beatmapset.artist }}</p>
        <p>by {{ beatmapset.creator }}</p>
        <p>Tags: {{ beatmapset.tags }}</p>
        <p></p>
        <h2>User</h2>
        <p>{{ score_user.username }}</p>
        <h2>Score</h2>
        <p>Score: {{ score_json }}</p>
        <p>Submitted at: {{ score.date }}</p>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}