{% extends "base.html" %}
{% load markdown_converter %}

{% block title %}Client {{ changelog.version }} Changelog{% endblock %}

{% block content %}
    <style>
        .markdown-container img {
            max-width: 100%;
        }
    </style>
    <div class="container" style="padding-top: 6rem; padding-left: 5rem; padding-right: 5rem; ">
        <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{% include "snippets/back-button.html" %} Client {{ changelog.version }} Changelog</h1>
        <a href="{% url 'client_changelog' %}" class="btn btn-ayaka"><i class="mdi mdi-format-list-bulleted" aria-hidden="true" style="font-size: 20px"></i> Go to changelog list</a>
        <p></p>
        <div style="overflow:hidden">
            <small>Released at {{ changelog.date }}</small>
            <p class="markdown-container">{{ changelog.content | convert_markdown | safe }}</p>
            <h3>Download</h3>
            {% if changelog.download_url_windows %}
            <a href="{{ changelog.download_url_windows }}" class="btn btn-ayaka btn-sm"><i class="mdi mdi-microsoft-windows" aria-hidden="true" style="font-size: 20px"></i> Windows</a>
            {% endif %}
            {% if changelog.download_url_macos %}
            <a href="{{ changelog.download_url_macos }}" class="btn btn-ayaka btn-sm"><i class="mdi mdi-apple" aria-hidden="true" style="font-size: 20px"></i> MacOS</a>
            {% endif %}
            {% if changelog.download_url_linux %}
            <a href="{{ changelog.download_url_linux }}" class="btn btn-ayaka btn-sm"><i class="mdi mdi-linux" aria-hidden="true" style="font-size: 20px"></i> Linux</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
