{% extends "base.html" %}
{% load markdown_converter %}

{% block title %}Web Changelog{% endblock %}

{% block content %}
    <style>
        .markdown-container img {
            max-width: 100%;
        }
    </style>
    <div class="container" style="padding-top: 6rem; padding-left: 5rem; padding-right: 5rem; ">
        <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Web Changelog</h1>
        <p></p>
        <div style="overflow:hidden">
            {% for log in changelog %}
                <div>
                    <a href="{% url 'web_changelog_detail' log.version %}"><h2 style="color: var(--color-accent)">{{ log.version }}</h2></a>
                    <small>Released at {{ log.date }}</small>
                    <p class="markdown-container">{{ log.content | convert_markdown | safe }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}