{% extends "base.html" %}

{% block title %}Import beatmap converted statistics API usage log{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 6rem; padding-left: 5rem; padding-right: 5rem; ">
        <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{% include "snippets/back-button.html" %} Import beatmap converted statistics API usage log</h1>
        <a href="#failed-log" class="btn btn-ayaka"><i class="mdi mdi-message-alert" aria-hidden="true" style="font-size: 20px"></i> See failed log</a>
        <p></p>
        <div style="overflow:hidden">
            <p><i class="mdi mdi-clock-outline" aria-hidden="true" style="font-size: 20px;"></i> This log will show only recent 200 logs.</p>
            <table class="table table-striped table-dark" style="vertical-align: middle;">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Time</th>
                        <th scope="col">Beatmap ID</th>
                        <th scope="col">Success</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for log in import_usage_log %}
                    <tr>
                        <th scope="row">{{ log.id }}</th>
                        <td>{{ log.time }}</td>
                        <td>{{ log.beatmap_id }}</td>
                        <td>
                            {% if log.success %}
                                <i class="mdi mdi-check" aria-hidden="true" style="font-size: 20px; color: #5cb85c"></i>
                            {% else %}
                                <i class="mdi mdi-alert-circle" aria-hidden="true" style="font-size: 20px; color: #d9534f"></i>
                            {% endif %}
                        </td>
                        <td>{{ log.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h2 id="failed-log">Failed log</h2>
            <p><i class="mdi mdi-alert-circle" aria-hidden="true" style="font-size: 20px;"></i> Failed count : {{ failed_count }}</p>
            <table class="table table-striped table-dark" style="vertical-align: middle;">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Time</th>
                    <th scope="col">Beatmap ID</th>
                    <th scope="col">Success</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                {% for log in failed_log %}
                    <tr>
                        <th scope="row">{{ log.id }}</th>
                        <td>{{ log.time }}</td>
                        <td>{{ log.beatmap_id }}</td>
                        <td>
                            {% if log.success %}
                                <i class="mdi mdi-check" aria-hidden="true" style="font-size: 20px; color: #5cb85c"></i>
                            {% else %}
                                <i class="mdi mdi-alert-circle" aria-hidden="true" style="font-size: 20px; color: #d9534f"></i>
                            {% endif %}
                        </td>
                        <td>{{ log.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}