{% extends "base.html" %}

{% block title %}Utility{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Utility</h1>
    {% if user.is_superuser %}
    <a href="{% url 'utility_log' %}" class="btn btn-ayaka"><i class="mdi mdi-history" aria-hidden="true" style="font-size: 20px"></i> Log</a>
    {% endif %}
    <p></p>
    <div style="overflow:hidden">
        <h3>Beatmaps</h3>
        {% include 'snippets/beatmap_statistics_osu.html' %}
        {% include 'snippets/beatmap_statistics_mirror.html' %}
        <a href="{% url 'import_specific_beatmapset_from_osu_api' %}" class="btn btn-ayaka btn-sm"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Import specific beatmapset from osu! API</a>
        <a href="{% url 'import_beatmapset_usage_log' %}" class="btn btn-ayaka btn-sm"><i class="mdi mdi-history" aria-hidden="true" style="font-size: 20px"></i> Import beatmapset usage log</a>
        <a href="{% url 'import_beatmapset_api_usage_log' %}" class="btn btn-ayaka btn-sm"><i class="mdi mdi-history" aria-hidden="true" style="font-size: 20px"></i> Import beatmapset API usage log</a>
        <a href="{% url 'import_beatmap_converted_statistics_usage_log' %}" class="btn btn-ayaka btn-sm"><i class="mdi mdi-history" aria-hidden="true" style="font-size: 20px"></i> Import beatmap converted statistics API usage log</a>
        <br>
        <h3>Users</h3>
        <a href="{% url 'create_sign_up_request' %}" class="btn btn-ayaka btn-sm"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Create sign up request</a>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}