{% extends "base.html" %}

{% block title %}Beatmaps List{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;"><i class="mdi mdi-playlist-music" aria-hidden="true" style="font-size: 40px;"></i> Beatmaps List</h1>
    <a href="{% url 'import_beatmaps_from_osu_public' %}" class="btn btn-ayaka"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Import beatmaps from osu!</a>
    <p></p>
    <div style="overflow:hidden">
        {% include 'snippets/beatmap_statistics_osu.html' %}
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}