{% extends "base.html" %}
{% load static %}

{% block title %}Beatmaps List{% endblock %}

{% block content %}
<style>
    .card-background {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-position: center center!important;
    }

    .beatmap-title {
        color: var(--color-accent)!important;
        font-size: 1.25rem!important;
        line-height: 1.25rem!important;
        font-weight: 700!important;
    }

    .beatmap-artist {
        color: var(--color-primary)!important;
        font-size: 1rem!important;
        line-height: 1rem!important;
    }

    .beatmap-creator {
        font-size: 0.75rem!important;
        line-height: 0.75rem!important;
    }
</style>
<div class="container" style="padding-top: 6rem; padding-left: 5rem; padding-right: 5rem; ">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;"><i class="mdi mdi-playlist-music" aria-hidden="true" style="font-size: 40px;"></i> Beatmaps List</h1>
    <p></p>
    <div style="overflow:hidden">
        {% include 'snippets/beatmap_statistics_osu.html' %}
        <div class="container">
            <div class="row">
                {% for beatmapset in beatmapsets %}
                <div class="col-lg-6">
                    <a class="card mb-3" style="max-width: 540px; border-color: var(--color-accent); border-radius: 4px;" href="{% url 'beatmapset_detail' beatmapset.beatmapset_id %}">
                        <div class="row g-0">
                            <div class="col-lg-3 card-background">
                                <div class="card-background" style="background: url('{{ s3_url }}/list/{{ beatmapset.beatmapset_id }}.jpg'), url('{% static "img/default_beatmaps.png" %}'); width: 100%; height: 100%;"></div>
                            </div>
                            <div class="col-lg-9 rounded-start" style="background-image: url('{{ s3_url }}/card/{{ beatmapset.beatmapset_id }}.jpg'), url('{% static "img/default_beatmaps.png" %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                                <div class="card-body rounded-start rounded-3" style="background-color: rgba(30, 30, 30, 0.9);">
                                    {% if site_settings and site_settings.use_traditional_metadata %}
                                        {% if beatmapset.title_unicode != "" and beatmapset.title_unicode != None %}
                                        <p class="card-text beatmap-title">{{ beatmapset.title_unicode }}</p>
                                        {% elif beatmapset.title_unicode == "" or beatmapset.title_unicode == None and beatmapset.title != "" %}
                                        <p class="card-text beatmap-title">{{ beatmapset.title }}</p>
                                        {% else %}
                                        <p class="card-text beatmap-title"> </p>
                                        {% endif %}
                                        {% if beatmapset.artist_unicode != "" and beatmapset.artist_unicode != None %}
                                        <p class="card-text beatmap-artist">by {{ beatmapset.artist_unicode }}</p>
                                        {% elif beatmapset.artist_unicode == "" or beatmapset.artist_unicode == None and beatmapset.artist != "" %}
                                        <p class="card-text beatmap-artist">by {{ beatmapset.artist }}</p>
                                        {% else %}
                                        <p class="card-text beatmap-artist">by  </p>
                                        {% endif %}
                                    {% else %}
                                    {% endif %}
                                    <p class="card-text beatmap-creator text-muted">mapped by {{ beatmapset.creator }}</p>
                                    {% include "snippets/beatmaps/approve-status-badge.html" %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
            {% if beatmapsets.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ beatmapsets.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
            </li>
            {% endif %}
    
            {% if beatmapsets.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ beatmapsets.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}
    
            {% for i in beatmapsets.paginator.page_range %}
                {% if beatmapsets.number == i %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        {{ i }}
                    </span>
                </li>
                {% elif i > beatmapsets.number|add:'-5' and i < beatmapsets.number|add:'5' %}
                     <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
    
            {% if beatmapsets.paginator.num_pages > beatmapsets.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="?page={{ beatmapsets.number|add:'5' }}">&hellip;</a></li>
            {% endif %}
    
            {% if beatmapsets.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ beatmapsets.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}