{% extends "base.html" %}
{% load static %}
{% load length_format %}
{% load get_ruleset_name %}
{% load get_ruleset_short_name %}
{% load convert_json %}
{% load format_note_type_name %}
{% load humanize %}

{% block title %}{{ beatmapset.title }} > {{ beatmap.version }} detail{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 6rem; padding-left: 5rem; padding-right: 5rem; ">
        <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{% include "snippets/back-button.html" %} Beatmap info</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'beatmapset_detail' beatmapset.beatmapset_id %}">
                    {% if user.is_authenticated and site_settings.use_traditional_metadata %}
                    {{ beatmapset.title_unicode }}
                    {% else %}
                    {{ beatmapset.title }}
                    {% endif %}
                </a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ beatmap.version }}</li>
            </ol>
        </nav>
        <p></p>
        <p>
            {% include "snippets/beatmaps/rulesets-symbol.html" %}
            {% include "snippets/beatmaps/star-rating-badge.html" %}
            <i class="mdi mdi-clock-time-nine" aria-hidden="true" style="font-size: 20px"></i> {{ beatmap.total_length|length_format }}
            <img src="{% static "img/beatmaps/bpm-circle.svg" %}" alt="BPM" height="20px" width="20px"> {{ beatmap.bpm|floatformat }}
            <img src="{% static "img/beatmaps/circle-count-circle.svg" %}" alt="Circle count" height="20px" width="20px"> {{ beatmap.count_normal|intcomma }}
            <img src="{% static "img/beatmaps/slider-count-circle.svg" %}" alt="Slider count" height="20px" width="20px"> {{ beatmap.count_slider|intcomma }}
            {% if beatmap.mode == 0 or beatmap.mode == 1 %}
                <img src="{% static "img/beatmaps/spinner-count-circle.svg" %}" alt="Spinner Count" height="20px" width="20px"> {{ beatmap.count_spinner|intcomma }}
            {% endif %}
        </p>
        <div style="overflow:hidden">
            <h2>Converted beatmap detail</h2>
            {% if converted_beatmap_info %}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for converted_info in converted_beatmap_info %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="{{ converted_info.ruleset_id|get_ruleset_short_name }}-tab" data-bs-toggle="tab" data-bs-target="#{{ converted_info.ruleset_id|get_ruleset_short_name }}-tab-pane" type="button" role="tab" aria-controls="{{ converted_info.ruleset_id|get_ruleset_short_name }}-tab-pane" aria-selected="true">{{ converted_info.ruleset_id|get_ruleset_name }}</button>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for converted_info in converted_beatmap_info %}
                <div class="tab-pane fade" id="{{ converted_info.ruleset_id|get_ruleset_short_name }}-tab-pane" role="tabpanel" aria-labelledby="{{ converted_info.ruleset_id|get_ruleset_short_name }}-tab" tabindex="0">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Note Type</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in converted_info.statistics|convert_json %}
                            <tr>
                                <td>{{ note.key|format_note_type_name }}</td>
                                <td>{{ note.value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <p>No converted beatmap info available :(</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}