{% extends "base.html" %}

{% block title %}Not Found{% endblock %}

{% block content %}
    <div class="container" style="padding: 5rem;">
        <h1 style="padding-top: 1rem; padding-bottom: 1rem;"><i class="mdi mdi-cancel" aria-hidden="true" style="font-size: 40px; color: #ffcc00"></i> Not Found</h1>
        <p></p>
        <div style="overflow:hidden">
            <div class="text-center">
                <p class="fs-3">This content you request is not found.</p>
                <p class="fs-3">Maybe you can <a href="/" class="fs-3">go back</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}