{% extends "base.html" %}

{% block title %}Template here{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Dummy Header</h1>
    <a href="#" class="btn btn-ayaka"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Dummy Button</a>
    <p></p>
    <div style="overflow:hidden; color:var(--color-primary)">
        Dummy homepage detail
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}