<h3>Performance Detail</h3>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Attributes name</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {% for attribute in performance_detail %}
        {% if attribute.key != "pp" %}
        <tr>
            <td>{{ attribute.key }}</td>
            <td>{{ attribute.value }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr class="table-success">
            <td>pp</td>
            <td>{{ performance_detail.pp }}</td>
        </tr>
    </tbody>
</table>