{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign Up Request{% endblock %}

{% block content %}
    <div class="container" style="padding: 5rem;">
        <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Sign Up Request</h1>
{#        <a href="#" class="btn btn-ayaka"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Dummy</a>#}
        <p></p>
        <div style="overflow:hidden">
            <p>Please type your password for complete register process for username : {{ username }}</p>
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-ayaka" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}